:root {
    --bg: white;
    --text: #000000;
    --text-muted: #78716c;
}

header {

    background-color: #ffffff;
    color: var(--text);
}

p{
   color: var(--text);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ border: 3px solid red;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    color: var(--text);
    background-color: var(--bg);
}

.container {
    width: min(100%, 1200px);
    margin-inline: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
}


/* Cabeçalho */
header {
    background-color: var(--bg);
}

header .container {
    display: flex;
    justify-content: space-between;
}
header .brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
header .brand img {
    height: 3rem;
}
header .brand h1 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.02em;
}
header .brand p {
    margin-top: 2px;
    font-size: 0.8rem;
    color: var(--text-muted);
}
header .cart-button {
    display: flex;
    border: 1px solid #E7E5E4;
    width: 2.75rem;
    height: 2.75rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
}

header .cart-button img {
    width: 1.25rem;
    height: 1.25rem;
}

footer {
    background-color: var(--text-muted);
    color: var(--text);
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 2rem;
    padding-block: 1.5rem;
    width: 1200px;
    margin-inline: auto;
}